<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-plane"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold"></span> Neighbourhoods
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.pgTotalItems}}</span> Listings
                            </div>
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div ht-widget-header title="Properties"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="listing in vm.listings | limitTo:vm.pgItemsPerPage:(vm.pgCurrentPage - 1) * vm.pgItemsPerPage">
                                        <td><img ng-src="{{listing.properties.thumbnail_url}}" style="width:60px; float: left; margin-right: 4px"></td>
                                        <td>{{listing.properties.name}}</td>
                                        <td>{{listing.properties.price}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix">
                                <uib-pagination
                                    class="pagination-admin"
                                    total-items="vm.pgTotalItems"
                                    ng-model="vm.pgCurrentPage"
                                    max-size="vm.pgMaxSize"
                                    items-per-page="vm.pgItemsPerPage"
                                    ng-change="vm.createMarkers()">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div ht-widget-header title="Map"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <!--<small>{{vm.news.description}}</small>-->
                            <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom" options="vm.options">
                                <ui-gmap-markers models="vm.markers" coords="'self'" icon="'icon'">
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
